<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TrabajoFinalCines.Properties.Settings.CINESConnectionString" connectionString="Data Source=PC\SQLEXPRESS;Initial Catalog=CINES;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="TrabajoFinalCines.Properties.Settings.ConnectionString" connectionString="Provider=SQLNCLI11;Data Source=PC\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=CINES" providerName="System.Data.OleDb"/>
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supported Runtimeversion="v4.0"/>
    </startup>
</configuration>
